*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
frase {
  font-size: 20px;
  color: black;
}
Header{
  display: flex;
  justify-content: space-around;
  align-items: center;


}
.Logo{
  font-size: 50px;
  animation: flipRotate 3s;
  border: 2px solid black;
  border-radius: 3px;
  background: linear-gradient(#fff, Black);


}
@keyframes flipRotate {
  from{
    transform: rotateX(80deg);
  }
  to{
    transform: rotateX(0deg);
  }
}
.Redesocial{
  display: inline-block;
  width: 300px;
}
